name: Build and Publish

on:
  release:
    types: [published]
jobs:
  clone_vendors:
    name: Clone vendors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install tree-sitter cli
        run: npm install -g tree-sitter-cli

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: uv sync --no-install-project

      - name: Clone vendors
        run: |
          mkdir parsers
          uv run --no-sync scripts/clone_vendors.py

      - name: Upload Parsers
        uses: actions/upload-artifact@v4
        with:
          name: language-parsers
          path: parsers
  build-sdist:
    needs: clone_vendors
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download parsers
        uses: actions/download-artifact@v4
        with:
          name: language-parsers
          path: parsers

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: uv sync --no-install-project

      - name: Set path in environment
        run: echo "PROJECT_ROOT=${{ github.workspace }}" >> $GITHUB_ENV

      - name: Cache Bindings
        id: cache-bindings
        uses: actions/cache@v4
        with:
          path: tree_sitter_language_pack/bindings
          key: ${{ hashFiles('sources/*') }}-language-definitions

      - name: Build sdist
        run: uv build --sdist
        env:
          PROJECT_ROOT: ${{github.workspace}}

      - uses: actions/upload-artifact@v4
        with:
          name: dist-sdist
          if-no-files-found: error
          path: dist

  build-wheels:
    needs: clone_vendors
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15, windows-latest, ubuntu-24.04-arm]
    name: Build wheel on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download parsers
        uses: actions/download-artifact@v4
        with:
          name: language-parsers
          path: parsers

  build-wheel-alpine:
    needs: clone_vendors
    name: Build wheel on alpine-latest
    runs-on: ubuntu-latest
    container: python:3.11-alpine # (ou 3.12-alpine, etc.)

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download parsers
        uses: actions/download-artifact@v4
        with:
          name: language-parsers
          path: parsers

      - name: Install Alpine build dependencies
        run: apk add --no-cache build-base git

      - name: Install uv
        run: pip install uv

      - name: Run Build Logic
        uses: ./.github/actions/build-wheel
        with:
          runner-key: alpine
          artifact-name: dist-wheel-alpine

  publish:
    name: Publish Python package
    needs: [build-sdist, build-wheels, build-wheel-alpine]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
